<template>
  <div class="Header dark">
    <div class="logoAndSearch">
      <a href="/" class="nuxt-link-active">
        <img src="https://static.shimba.io/svg/logo_mixed.svg?1601085256" alt="SHIMBA" class="logo">
      </a>
    </div>
    <div class="accountAndNavigation">
      <div class="AccountGlobalMenu">
        <div class="button">
          <div class="UserIconWrap icon">
            <div name="loading" class="UserIcon loading hidden"></div>
            <figure name="icon" class="UserIcon" v-bind:style="{ backgroundImage: 'url(' + userIconUrl + ')' }"></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    head: {
      title: "記事作成 | SHIMBA",
    },
    data: function() {
      return {
        userIconUrl: "//icons.shimba.io/Wildfaithkang13.jpg?width=120&1601297187277",
      };
    },
  }
</script>

<style>
body {
  background-color: #1c2238;
}

a {
  background-color: transparent;
}

@media (max-width: 1440px) {
  .Header {
    height: 4.24vw;
    padding: 0 1.39vw;
  }

  .logo {
    width: 10.42vw;
    margin-right: 2.08vw;
  }

  .icon {
    width: 2.5vw!important;
    height: 2.5vw!important;
  }
}

.Header {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  transition: all .3s ease;
}

.Header.dark {
  background-color: #1c2238;
  border-bottom-color: hsla(0,0%,100%,.09804);
}

.logoAndSearch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

img {
  border-style: none;
}

.accountAndNavigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.AccountGlobalMenu {
  position: relative;
  user-select: none;
}

.button {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserIconWrap {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.UserIcon.loading {
  background: linear-gradient(90deg,#f2f2f2 25%,#e6e6e6 37%,#f2f2f2 63%);
  animation: loading-data-v-3bf6e35a 1.4s ease infinite;
  background-size: 400% 100%;
}

.hidden {
  display: none;
}

.UserIcon {
  width: 100%;
  height: 100%;
  position: absolute;
}

.UserIcon {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
}
</style>
