<template>
    <div class="ArticlePostPage">
      <div class="article__editor">
        <div class="header">
          <div class="settings">
            <input type="text" placeholder="タイトル" v-on:input="inputTitle" value="" class="input title">
            <div class="setting select-font__pulldown">
              <div class="font__title">
                フォント：
              </div>
              <select class="setting__selector pulldown fontFamilies" v-model="selectedFont" v-on:change="changeFontFamily">
                <option v-for="option in options" v-bind:value="option.value">
                  {{ option.text }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="contents">
          <div class="edit-view current">
            <div class="edit-view__header">
              <div class="image-uploader" @click="$refs.fileupload.click()">
                <p class="image-uploader__text">upload image</p>
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="upload__button svg-inline--fa fa-file-image fa-w-12">
                  <path fill="currentColor" d="M384 121.941V128H256V0h6.059a24 24 0 0 1 16.97 7.029l97.941 97.941a24.002 24.002 0 0 1 7.03 16.971zM248 160c-13.2 0-24-10.8-24-24V0H24C10.745 0 0 10.745 0 24v464c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24V160H248zm-135.455 16c26.51 0 48 21.49 48 48s-21.49 48-48 48-48-21.49-48-48 21.491-48 48-48zm208 240h-256l.485-48.485L104.545 328c4.686-4.686 11.799-4.201 16.485.485L160.545 368 264.06 264.485c4.686-4.686 12.284-4.686 16.971 0L320.545 304v112z" class="">
                  </path>
                </svg>
              </div>
              <input type="file" ref="fileupload" accept=".png,.jpg,.jpeg,.gif,.svg" class="file-uploader" @change="getImage">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="view-change__button mobile-only svg-inline--fa fa-eye fa-w-18">
                <path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z" class="">
                </path>
              </svg>
            </div>
            <textarea class="textarea edit-view__body" v-on:input="inputComment"></textarea>
          </div>
          <div class="preview">
            <div class="preview__header">
              <div class="preview__toggle__button pcOnly">
                <div class="preview__text__toggle__button">
                  Preview
                </div>
              </div>
              <div class="switch-screen-Mode">
                <div class="switch-screen-mode__title">
                  ダークモード
                </div>
                <div class="switch-screen-mode__button" v-bind:class="{ on: darkMode }" @click="changeScreenMode"></div>
              </div>
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="edit" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="edit__toggle_button mobile-only svg-inline--fa fa-edit fa-w-18">
                <path fill="currentColor" d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z" data-v-194608a5="" class="">
                </path>
              </svg>
            </div>

            <div v-bind:style="{ fontFamily: selectedFont}" class="article__body preview__body" v-bind:class="{ dark: darkMode, light: lightMode }">
              <!--{{comment}}-->
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="delete" style="display:none;">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="delete__icon svg-inline--fa fa-times fa-w-11">
              <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" class=""></path>
            </svg>
            Delete
          </div>
          <div class="actions">
            <div class="save__status" v-if="showsaveStatus">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="spinner" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="save__statusIcon saving svg-inline--fa fa-spinner fa-w-16">
                <path fill="currentColor" d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z" class=""></path>
              </svg>
              Draft saving...
            </div>
            <div class="save__status" v-if="showSaveComplete">
              <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="save__statusIcon saved svg-inline--fa fa-check fa-w-16">
                <path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z" class=""></path>
              </svg>
              Draft saved
            </div>
            <div class="post__button" v-bind:class="{ disabled: isPush }" @click="postArticle">
              POST
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
  import _ from 'lodash'
  const md = require('markdown-it')();
  export default {
    data: function() {
      return {
        title: "",
        selectedFont: 'Noto Sans JP',
        options: [
          { text: 'Noto Sans JP', value: 'Noto Sans JP' },
          { text: 'M PLUS 1p', value: 'M PLUS 1p' },
          { text: 'さわらび明朝', value: 'Sawarabi Mincho' }
        ],
        comment: "",
        darkMode: true,
        lightMode: false,
        showsaveStatus: false,
        showSaveComplete: false,
        isPush: true,
      };
    },
    methods: {
      // タイトルの入力有無をチェックします。
      inputTitle: function($event){
        this.title = $event.target.value;
        this.showsaveStatus = true;
        setTimeout(this.draftSaveCompleted, 2000);
      },
      // 画像ファイルを取得します。
      getImage(e) {
        const files = this.$refs.fileupload;
        const fileImg = files.files[0];
        if (fileImg.type.startsWith("image/")) {
          const url = window.URL || window.webkitURL;
          const result = url.createObjectURL(fileImg);
          // 画像ファイルをBLOB形式に変換する。
          const blob = new Blob([result], {type : fileImg.type});

          const editviewBody = document.getElementsByClassName('edit-view__body')[0];
          const asyncProcess = () => {
            const photoInfo = "![](" + result + ")";
            return new Promise((resolve, reject) => {
              if(!editviewBody.value){
                resolve(String(photoInfo));
              } else {
                const array = editviewBody.value.split(/[\n\r]/g);
                const comment = _.chain(array).map(function(sentence, index) {
                  // 空白を削除する。
                  sentence = sentence.replace(/ /g, '');
                  // 改行を追加する
                  return sentence += "  \n";
                }).join("").value();
                resolve(String(comment) + String(photoInfo));
              }
            });
          };
          asyncProcess().then((comment) => {
            // プレビューをクリアする
            const articleBody = document.getElementsByClassName('article__body')[0];
            articleBody.innerHTML= "";

            const editviewBody = document.getElementsByClassName('edit-view__body')[0];
            editviewBody.value = comment;
            //markdownからhtmlに変換する。
            const html = md.render(comment);
            articleBody.insertAdjacentHTML('beforeend', html);
          })

          this.showSaveComplete = false;
          this.showsaveStatus = true;

          // API通信が不明なのでモックとして動作させる
          setTimeout(this.draftSaveCompleted, 2000);
        }
      },

      // コメントを選択された書式に変換します。
      changeFontFamily: function($event){
        this.selectedFont = $event.target.value;
      },
      // スクリーンモードを変更します。
      changeScreenMode: function(){
        // onというクラスを削除する。
        if(this.darkMode){
          this.darkMode = false;
          this.lightMode = true;
        } else {
          this.darkMode = true;
          this.lightMode = false;
        }
      },
      // コメントの入力有無をチェックします。
      inputComment: function ($event) {
        // 改行で分割する
        const array = $event.target.value.split(/[\n\r]/g);
        const asyncProcess = () => {
          return new Promise((resolve, reject) => {
            const comment = _.chain(array).map(function(sentence, index) {
                return sentence += "  \n";
            }).join("").value();
            resolve(String(comment));
          });
        }
        asyncProcess().then((comment) => {
          // プレビューをクリアする
          const articleBody = document.getElementsByClassName('article__body')[0];
          articleBody.innerHTML = "";

          const editviewBody = document.getElementsByClassName('edit-view__body')[0];
          editviewBody.value = $event.target.value;

          // markdownをhtmlに変換する。
          const html = md.render(comment);
          articleBody.insertAdjacentHTML('beforeend', html);


        });
        this.showSaveComplete = false;
        this.showsaveStatus = true;

        // API通信が不明なのでモックとして動作させる
        setTimeout(this.draftSaveCompleted, 2000);
      },
      // コメントの保存完了に伴い、POSTボタンを有効化する
      draftSaveCompleted: function(){
        this.showsaveStatus = false;
        this.showSaveComplete = true;
        if(_.isEmpty(this.title)){
          this.isPush = true;
        } else {
          const editviewBody = document.getElementsByClassName('edit-view__body')[0];
          if(_.isEmpty(editviewBody.value)){
            this.isPush = true;
          } else {
            this.isPush = false;
          }
        }
      },
      postArticle: function(){
        // ボタンを非活性にしてPOSTからSavingという文字列に変更する
        this.isPush = true;
        const postButton = document.getElementsByClassName('post__button')[0];
        postButton.textContent = "Saving...";
        // 投稿一覧画面に移動する。
        setTimeout(this.gotoPage, 2000);
      },
      // ページ遷移を行います。
      gotoPage: function(){
        // 初期化処理
        this.title = "";
        this.selectedFont = 'Noto Sans JP';
        this.comment = "";
        this.darkMode = true;
        this.lightMode = false;
        this.showsaveStatus = false;
        this.showSaveComplete = false;
        this.isPush = true;

        const title = document.getElementsByClassName('title')[0];
        title.value = "";

        const editviewBody = document.getElementsByClassName('edit-view__body')[0];
        editviewBody.value = "";

        // 投稿一覧ページにジャンプする
        this.$router.push('/');
      }
    },
    // ページ読み込み時に実行される
    mounted : function(){

    },
    modules: [
      '@nuxtjs/markdownit'
    ],
    markdownit: {
      injected: true,
      breaks: true,
      html: true,
      linkify: true,
      typography: true
    },
  }
</script>

<style>
body {
  background-color: #1c2238;
}

@media (max-width: 1440px) {

  .article__editor {
    min-height: calc(100vh - 4.24vw);
    margin-top: 4.24vw;
    font-size: 1.11vw;
  }

  .header{
    padding: .35vw 1.39vw 0;
  }

  .title {
    margin-bottom: .28vw;
    padding: .83vw 1.39vw;
    font-size: 1.67vw;
  }

  .input{
    border-radius: .35vw;
  }

  .setting {
    margin-left: .28vw;
    margin-bottom: .28vw;
    padding: .9vw;
  }

  .select-font__pulldown{
    border-radius: .35vw;
  }

  .font__title{
    margin-right: .35vw;
    font-size: .97vw;
  }

  .pulldown {
    border-radius: .35vw;
  }

  .contents{
    margin-bottom: .69vw;
    padding: 0 1.39vw;
  }

  .edit-view{
    border-radius: .28vw 0 0 .28vw;
    width: calc(50% + .07vw);
    border-right-width: .14vw;
    border-right: 2px solid #232630;
  }

  .edit-view__header{
    padding: 0 1.04vw;
    height: 3.47vw;
    min-height: 3.47vw;
  }

  .edit-view__body{
    padding: 1.67vw 1.39vw;
    font-size: .97vw;
    border-radius: .35vw;
  }

  .preview{
    border-radius: 0 .28vw .28vw 0;
    width: calc(50% - .07vw);
  }

  .preview__header {
    padding: 0 .69vw;
    height: 3.47vw;
  }

  .preview__text__toggle__button{
    font-size: .97vw;
  }

  .switch-screen-mode__title{
    margin-right: .49vw;
    font-size: .83vw;
  }

  .switch-screen-mode__button{
    width: 3.33vw;
    height: 1.74vw;
    border-width: .14vw;
  }

  .switch-screen-mode__button.on:after{
    transform: translateX(1.6vw);
  }

  .switch-screen-mode__button:after{
    width: 1.46vw;
    height: 1.46vw;
  }

  .article__body p {
    font-size: 1.11vw;
  }

  .article__body img {
    width: 95%;
    height: auto;
    display: block;
    margin: 2em auto;
  }

  img {
      border-style: none;
  }

  .preview__body{
    padding: 1.39vw 2.15vw;
    border-radius: .35vw;
  }

  .footer{
    padding: .83vw 1.39vw;
  }

  .delete{
    margin-left: .69vw;
    font-size: .83vw;
  }

  .delete__icon{
    margin-right: .49vw;
    font-size: .9vw;
  }

  .save__status{
    font-size: .83vw;
  }

  .post__button{
    width: 8.33vw;
    height: 2.5vw;
    margin-left: 1.25vw;
    border-radius: 1.74vw;
    font-size: 1.11vw;
  }

}

.article__editor{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1c2238;
  color: #fff;
}

.title{
  width: 50%;
  font-weight: 700;
  color: #fff;
  letter-spacing: .020833333em;
}

.input{
  background-color: rgba(0,0,0,.2);
  outline: 0;
  border: none;
  overflow: visible;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
}

.settings{
  display: flex;
}

.setting:last-child{
  margin-right: 0;
}

.setting{
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  display: flex;
}

.select-font__pulldown{
  background-color: rgba(0,0,0,.2);
  color: #fff;
  outline: 0;
  border: none;
}

.font__title{
  color: #5b6488;
  letter-spacing: .023571429em;
  font-weight: 700;
}

.setting__selector{
  flex: 1;
}

.pulldown{
  appearance: none;
  background-color: transparent;
  padding: 0;
  font-weight: 700;
  color: #fff;
  outline: 0;
  border: none;
}

.contents{
  display: flex;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}

select {
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.edit-view{
  border-right: 2px solid #232630;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.edit-view__header{
  justify-content: flex-end;
  display: flex;
  align-items: center;
  background-color: rgba(0,0,0,.39216);
}

.image-uploader{
  font-size: .8em;
  font-weight: 700;
  cursor: pointer;
  display: flex;
}

.image-uploader__text{
  margin-right: 5px;
}

.svg-inline--fa, svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-12 {
  width: .75em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -.125em;
}

.upload__button{
  cursor: pointer;
}

.file-uploader{
  display: none;
}

.view-change__button{
  margin-left: 5.33vw;
}

.svg-inline--fa.fa-w-18{
  width: 1.125em;
}

.preview{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.preview__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,.39216);
}

.preview__toggle__button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.preview__text__toggle__button{
  color: #5b6488;
  letter-spacing: .027857143em;
}

.switch-screen-Mode{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.switch-screen-mode__title{
  color: #5b6488;
  letter-spacing: .03em;
}

.edit__toggle_button{
  margin-left: 4vw;
  font-size: 4vw;
}

.mobile-only{
  display: none;
}

.switch-screen-Mode{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.switch-screen-mode__title{
  color: #5b6488;
  letter-spacing: .03em;
}

.switch-screen-mode__button {
  box-sizing: border-box;
  background-color: #666;
  border: 2px solid transparent;
  border-radius: 9999px;
  cursor: pointer;
  transition: all .2s ease;
}

.switch-screen-mode__button.on{
  background-color: #28c56e;
}

.switch-screen-mode__button:after{
  content: "";
  display: block;
  background-color: #fff;
  border-radius: 9999px;
  transition: all .2s ease;
}

.edit-view{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.edit-view__body {
  resize: none;
  width: 100%;
  font-family: Noto Sans JP,sans-serif;
  letter-spacing: .023571429em;
  line-height: 1.8em;
  color: #fff;
  flex: 1;
  max-height: calc(100vh - 25.83vw);
  min-height: 100%;
  overflow: scroll;
}

.textarea{
  background-color: rgba(0,0,0,.2);
  outline: 0;
  border: none;
  margin: 0;
}

.article__body{
  color: #2e2e2e;
}

.article__body p {
  margin-bottom: 2em;
  letter-spacing: .025em;
  line-height: 2em;
}

.article__body.dark{
  background-color: #171b2d;
  color: #fff;
}

.article__body.light{
  background-color: #fff;
}

.preview__body{
  flex: 1;
  max-height: calc(100vh - 25.83vw);
  min-height: 100%;
  overflow: scroll;
  outline: 0;
  border: none;

}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,.4);
}

.delete{
  color: #c5286e;
  letter-spacing: .038333333em;
  cursor: pointer;
}

.actions{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.save__status{
  color: #28c56e;
  letter-spacing: .038333333em;
}

.post__button.disabled{
  background: #ccc;
  color: #999;
  cursor: default;
}

.post__button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(117deg,#ffc600,#cb00ff);
  font-family: DM Sans;
  font-weight: 700;
  color: #fff;
  letter-spacing: .025em;
  text-align: center;
  line-height: 1.625em;
  cursor: pointer;
}

</style>
